{% load i18n %}
{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>{{ user.username }} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="{% url 'password_change' %}?next={{ request.path }}"><i class="fa fa-gear fa-fw"></i> Change Password</a>
        </li>
        <li><a href="{% url 'password_reset' %}"><i class="fa fa-gear fa-fw"></i> {% trans "Reset my password" %}</a>
        </li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}?next={{ request.path }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
  </li>
</ul>
{% else %}
<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'login' %}"><i class="fa fa-user fa-fw"></i> SignIn</a>
            </li>
            <li><a href="{% url 'registration_register' %}"><i class="fa fa-gear fa-fw"></i> Register</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
{% endif %}
